<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<script src="../vue.js" /></script>
</head>
<body>
<div id="root"></div>
<script>

var vm = new Vue({
 el: "#root",
 data: {
   elements: [
     { text: "Element 1", modifyOn: false },
     { text: "Element 2", modifyOn: false },
     { text: "Element 3", modifyOn: false },
     { text: "Element 4", modifyOn: false },
     { text: "Element 5", modifyOn: false }
   ]
 },
 methods: {
   remove(index) {
     //console.log("Click sur index" + index);
     this.elements = this.elements.filter(function(element, i) {
       if (i == index) return false;
       else return true;
     });
   },
   modify(index, event) {
     //console.log("Modify" + index);
     this.elements[index].modifyOn = true;
   },
   valid(index, event) {
     //console.log(event);
     var value = event.target.value;
     this.elements = this.elements.map(function(element, i) {
       if (i == index) return { text : value, modifyOn : false };
       else return element;
     });
   },
   add() {
     //console.log("Click add");
     var length = this.elements.length +1;
     var element = { text : "Element " + length, modifyOn : false };
     this.elements.push(element);
   }
 },
 updated() {
   //console.log("Call Update()");
   var inputs = this.$refs.input;
   if (inputs && inputs.length) {
     var last_inputs = inputs[inputs.length -1];
     last_inputs.focus();
   }
 },
 template: `
  <div>
    <button v-on:click="add()">Add Element</button>
    <ul>
      <li v-for="(element, index) in elements" style="margin: 10px;">

        <!-- <span v-if="index == elements.length -1">.</span>
        <span v-else>,</span> -->

        <span v-if="!element.modifyOn" v-on:dblclick="modify(index)"> {{element.text}} </span>
        <input type="text" v-else style="width: 100px;" v-bind:value="element.text" v-on:keyup.enter="valid(index, $event)" ref="input">
        <button v-on:click="remove(index)" style="margin-left: 10px;">Remove</button>
      </li>
    </ul>
    <div v-if="elements.length == 0">Empty List</div>
  </div>`
});

</script>
</body>
</html>
